@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0;
}

body {
    background-color: white;
    min-height: 100vh;
    font-family: var(--fonte1);
    font-size: 1em;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 50px;
}

header > h1{
    font-family: var(--fonte2);
    font-variant: small-caps;
    font-size: 10vw;
    padding-top: 50px;
}

section{
    font-family: var(--fonte3);
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-size: 3.5vw;
}

section > p{
    padding-bottom: 2em;
}

#segunda-estrofe{
    background-image: url('../imagens/background001.jpg');
}

#quinta-estrofe{
    background-image: url('../imagens/background002.jpg');
}

.imagem{
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 5px 5px 20px 0px rgba(0, 0, 0, 0.501);
}

/* Solução para parallax no mobile */
@media (max-width: 768px) {
  .imagem {
    background-attachment: scroll; 
  }
}


.imagem-fundo{
    background-color: rgba(0, 0, 0, 0.42);
    color: white;
    display: inline-block;
    padding: 5px;
    text-shadow: 1px 1px black;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}

header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}